{% extends 'base.html' %}

{% block title %}{{ custom_user.get_full_name }} - eventtracker{% endblock %}

{% block content %}
    <div class="fullname_email_container">
        <h2>{{ custom_user.get_full_name }}</h2>
        <p>({{ custom_user.email }})</p>
        <a href="{% url 'logout' %}">Logout</a>
    </div>
    <ul class="profile-ul">
        <li><a href="{% url 'cart' %}">View cart</a></li>
        <li><a href="{% url 'purchased_tickets' %}">My tickets</a></li>
        <li><a href="{% url 'add_event' %}">Add my event</a></li>
    </ul>
{% endblock %}