{% extends 'base.html' %}

{% block title %}{{ city_name }} - eventtracker{% endblock %}

{% block content %}
    <ul class="event_grid">
        {% for event in city_events %}
            <a href="{{ event.get_absolute_url }}" class="event-container-link">
                    <div class="event_container">
                        <div class="image-container">
                            <img src="{{ event.image.url }}" alt="Event Image">
                        </div>
                        <h3>
                            {{ event }}
                        </h3>
                        {{ event.start_time }}
                    </div>
                </a>
        {% empty %}
            <p>No events found for this city.</p>
        {% endfor %}
    </ul>
{% endblock %}