{% extends 'base.html' %}

{% block title %}{{ event.title }} - eventtracker{% endblock %}

{% block content %}

    <div class="concrete-event-image">
        <img src="{{ event.image.url }}" alt="Concrete Event Image">
        <a href="{{ event.category.get_absolute_url }}" class="concrete-event-category">{{ event.category }}</a>
    </div>
<div class="sticky">
        <ul>
            <li>{{ event.city }}</li>
            <li>start: {{ event.start_time }}</li>
            <li>end: {{ event.end_time }}</li>
            <li>price: {{ event.ticket_price }}€</li>
            {% if available_tickets > 0 %}
                <li>tickets left: {{ available_tickets }}</li>
            {% endif %}
        </ul>
        {% if available_tickets > 0 %}
            <form class="add_to_cart_form" action="{{ event.get_add_to_cart_url }}" method="post">
                {% csrf_token %}
                <button type="submit" class="purchase-button">ADD TO CART</button>
            </form>
        {% else %}
            <p class="soldout">SOLD OUT!</p>
        {% endif %}
    </div>
    <div class="content-left">
        <h1>{{ event.title }}</h1>
        <ul>
            <li><h3>About event</h3></li>
            <li>{{ event.description }}</li>
            <li><h3>Location</h3></li>
        </ul>
        {{ map_html|safe }}
    </div>
{% endblock %}
