{% extends 'base.html' %}

{% block title %}{{ event.title }} - eventtracker{% endblock %}

{% block content %}

    <div class="concrete-event-image">
        <img src="{{ event.image.url }}" alt="Concrete Event Image">
        <a href="#" class="concrete-event-category">{{ event.category }}</a>
    </div>
<div class="sticky">
        <ul>
            <li>{{ event.city }}</li>
            <li>start: {{ event.start_time }}</li>
            <li>end: {{ event.end_time }}</li>
            <li>price: {{ event.ticket_price }}€</li>
            <li>tickets left: {{ available_tickets }}</li>
        </ul>
        {% if available_tickets > 0 %}
            <a href="{{ event.get_add_to_cart_url }}" class="purchase-button">ADD TO CART</a>
        {% endif %}
    </div>
    <div class="content-left">
        <h1>{{ event.title }}</h1>
        <ul>
            <li><h3>About event</h3></li>
            <li>{{ event.description }}</li>
            <li><h3>Location</h3></li>
        </ul>
        {{ map_html|safe }}
    </div>
<!--    <div class="sticky">-->
<!--        <ul>-->
<!--            <li>{{ event.city }}</li>-->
<!--            <li>start: {{ event.start_time }}</li>-->
<!--            <li>end: {{ event.end_time }}</li>-->
<!--            <li>tickets left: {{ available_tickets }}</li>-->
<!--        </ul>-->
<!--        {% if available_tickets > 0 %}-->
<!--            <a href="{{ event.get_add_to_cart_url }}">Purchase tickets</a>-->
<!--        {% endif %}-->
<!--    </div>-->


{% endblock %}
